/* Navbar */

h2 {
  font-weight: bold;
}

button.btn.btn-outline-dark {
  border: none;
  text-transform: uppercase;
}
a.nav-link:hover {
  color: white !important;
}

button#btnGroupDrop1 {
  border: none;
  background-color: #f8f9fa;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.55);
  margin-left: 5px;
  margin-right: 5px;
}

button#btnGroupDrop1:hover {
  color: white;
  background-color: black;
  border-radius: 5px;
}

a.dropdown-item:focus {
  background-color: transparent;
}

/* Owl Carousel */
.owl-carousel .item img {
  height: 800px;
}

@media only screen and (max-width: 920px) {
  .owl-carousel .item img {
    height: 300px;
  }
}

.owl-item {
  opacity: 0.4;
}

.owl-item.center {
  opacity: 1;
}

.owl-dots {
  display: none;
}

.owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}
.owl-theme .owl-nav {
  margin: 0px;
  padding: none;
  font-size: 6em;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: none;
  text-decoration: none;
}

.owl-controls {
  position: relative;
  height: 100%;
}
.owl-theme .owl-nav {
  margin: 0;
}

button.owl-prev {
  transition: 0.3s;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
}

button.owl-next {
  transition: 0.3s;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
}

/* .owl-prev,
.owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  z-index: 100;
}
.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
} */

/* Footer */
section.footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer {
  color: rgba(0, 0, 0, 0.55);
  font-size: 1.2em;
}

a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}
a:hover {
  color: black;
}

section.footer {
  background-color: #f8f9fa;
}

/* Categories Page*/

.col {
  padding: 8px;
}

img.img-fluid {
  border-radius: 15px;
}

h2.text-center.mb-5 {
  margin-bottom: 0.8em !important;
  margin-top: 1em;
}

/* Testimonials */
#more {
  display: none;
}

#mores {
  display: none;
}

#morej {
  display: none;
}

img.rounded.mx-auto.d-block {
  max-width: 400px;
}

.accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.accordion-button:focus {
  color: black;
  background-color: #f8f9fa;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #f8f9fa;
}
.accordion-button:not(.collapsed)::after {
  color: black;
}

/* About */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px;
}

button.btn.btn-dark {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #946650;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}

.container.about {
  padding-top: 1em;
  padding-bottom: 1em;
}

a.about {
  color: white;
}

.column-66 {
  padding-left: 10px;
}

button.button {
  border-radius: 5px;
}
button.btn.btn-dark:hover {
  background-color: black;
}

/* Contacts */

/* Galleries */
.rowGallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columnGallery {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columnGallery img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnGallery {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnGallery {
    flex: 100%;
    max-width: 100%;
  }
}

/* Contacts */
input[type="text"],
input[type="email"],
select,
textarea {
  font-size: 17px;
  line-height: 1.23543;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  height: 3.3em;
  margin-bottom: 14px;
  padding-top: 18px;
  padding-left: 16px;
  padding-right: 16px;
  color: #333;
  text-align: left;
  border: 1px solid #dedede;
  border-radius: 4px;
  background-clip: padding-box;
}
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  background-color: #eeeeee;
}

input[type="submit"] {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  background-color: black;
  background: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  padding: 13px 15px 14px;
  width: 100px;
}

input[type="submit"]:hover {
  background-color: rgb(70, 70, 70);
  text-decoration: none;
}

.contact-form-container {
  max-width: 768px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
}

.contact-form-container h1 {
  font-weight: 100;
  text-align: center;
  padding-bottom: 20px;
}

.container.contacts {
  background-image: url("photo/00.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact.container {
  background-color: white;
  opacity: 0.7;
}
